*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: 70px;
     display: flex;
    background: white;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.page-container{
   max-width: 1500px;
   margin-right: 40px;
   display: flex;
   align-items: center;
    
}
.logo img{
    height: 50px;
    margin-left: 80px;
    margin-right: 60px;
}
nav{
    display: flex;
    justify-content: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;


}

.search_section_img{
    width: 350px;
    height: 50px;
    margin-left: 50px;
    top: 5px;
    align-items: center;
    margin-top: 10px;
    
}
.profile_img{
    margin-left: 60px;
}
.coupen_img{
    width: 80%;
    height: 40%;
    margin-left: 170px;
    margin-top: 50px;
}
.main_banner{
    width: 100%;
    height: 50%;

}
.rising_stars{
    padding-left: 60px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
    


.rising_stars_img1{
    height: 480px;
    position: relative;
}
.rising_stars_img2{
    height: 480px;
    position: absolute;
}
.Luxe_grand_heading{
  padding-left: 60px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}  

.Luxe_grand_img1{
    position:absolute;
    height: 380px;
    display: inline-block;
    position: relative;
    width: 270px;
}
.Luxe_grand_img2{
    position: absolute;
    width: 270px;
     height: 380px;
     left:260px; 
     top: 1605px;
     display: inline-block;
    
}
.Luxe_grand_img3{
    position: absolute;
     height: 380px;
     width: 270px;
     left: 500px;
     top: 1595px;
    display: inline-block;

}
.Luxe_grand_img4{
    position: absolute;
     height: 380px;
     width: 270px;
     left: 770px; 
    top: 1600px;
    display: inline-block;

}
.Luxe_grand_img5{
    position: absolute;
     height: 390px;
     width: 270px;
     left: 1040px; 
     top: 1585px;
    display: inline-block;

}
.Luxe_grand_img6{
    position: absolute;
     height: 380px;
     width: 270px;
     left: 1290px; 
     top: 1595px;
    display: inline-block;

}

.medal_worthy_img1{
    height: 480px;
    position: relative;
    width: 1300px;
}
.medal_worthy_img2{
    height: 490px;
    position: absolute;
    width: 260px;
    top: 2089px;
}
.grand_global{
    position:relative;
    height: 500px; /* so that ur section strech to certain limited extend or else next heading will come down of this  shop by catogory*/
   

}
.grand_global_img1{
position: absolute;
display: inline-block;
width: 1300px;
height: 480px;
}
.grand_global_img2{
position: absolute;
display: inline-block;
left: 1300px;
width: 260px;
height: 480px;
}
.category-container{
    position: relative;
  
    height: 1500px;
}
 .category-heading{
  padding-left: 60px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 50px;
    margin-bottom: 30px; 
   
 }

.shop_img1{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    left: 100px;

 
}
.shop_img2{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    left: 330px;
 
}
.shop_img3{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    left: 560px;
 
}
.shop_img4{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    left: 790px;
 
}
.shop_img5{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    left: 1020px;
 
}
.shop_img6{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    left: 1250px;
 
}
.shop_img7{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 430px;
    left: 100px;
 
}
.shop_img8{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 430px;
    left: 330px;
 
}
.shop_img10{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 430px;
    left: 560px;
 
}
.shop_img11{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 430px;
    left: 790px;
 
}
.shop_img12{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 430px;
    left: 1020px;
 
}
.shop_img13{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 430px;
    left: 1250px;
 
}

.shop_img14{
    position: absolute;
    width: 200px;
    height: 300px;
    top:760px;
    left: 100px;

 
}
.shop_img15{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 760px;
    left: 330px;
 
}
.shop_img16{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 760px;
    left: 560px;
 
}
.shop_img17{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 760px;
    left: 790px;
 
}
.shop_img18{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 760px;
    left: 1020px;
 
}
.shop_img19{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 760px;
    left: 1250px;
 
}
.shop_img20{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 1090px;
    left: 445px;
 
}
.shop_img21{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 1090px;
    left: 675px;
 
}
.shop_img22{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 1090px;
    left: 905px;
 
}
.myntra-footer{
  background: whitesmoke;
  padding: 40px 80px;
  font-family: Arial;
  font-size: 14px;
  color: gray;
}

.footer-top{
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.footer-col h4{
  font-size: 12px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  color: black;
}

.footer-col p{
  margin: 6px 0;
  cursor: pointer;
  color: grey;
}

.store-img{
  width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.social{
  width: 22px;
  margin-right: 10px;
}
.footer-right_section{
    margin-top: 20px;

}
.footer-right{
   align-items: center;
   display: flex;
   gap:20px;
}
.footer-right img{
    width: 50px;
    color: whitesmoke;
   
}

.touch{
  margin-top: 20px;
}

.badge p{
  margin-bottom: 15px;
  color: black;
}

hr{
  margin: 30px 0;
  border: 1px solid lightgray;
}

.popular p{
  line-height: 22px;
  color: gray;
}

.footer-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.phone{

  text-align: right;
  color:grey;
  margin-top: 80px;
}
.phone span{
    color: blue;

}
.myntra-footer strong{
    color: black;
}

